Q1==> You are working in bank and you have given two lists of employees who worked in 2021. Employees names in list1 are Ramesh,Suresh,Mahesh,Ali,Jacob and 
sarita. List2 names Ali,Mukesh,Mahesh,Jacob,sai,sarita.Write a program to find common in both list.dont use inbuilt function

In [15]:
list1=["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob", "Sarita"]
list2=["Ali", "Mukesh", "Mahesh", "Jacob", "sai", "Sarita"]

list3=[]

for i in list1:
  if i in list2 and i not in list3:
    list3.append(i)

  
print("The common employees are :",list3)

The common employees are : ['Mahesh', 'Ali', 'Jacob', 'Sarita']

Q2==> While entering data someone entered a few names as common string "Ramesh suresh Mohit".WAP to seperate all names and convert them into list.once 
covnerted add their age. Ramesh=25, Suresh=22, Mohit=26

In [3]:
stg="Ramesh Suresh Mohit"
list4=stg.split()

ages=[25,22,26]

list4_ages=dict(zip(list4,ages))

print(list4_ages)

{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

Q3==> A few students from university has taken 3 exams

 Name=Sam,Jacy,Tom,steve

 python=25,26,29,28

statistics=23,21,19,25

sql=29,27,28,25

WAP to calculate mean of all 3 tests and print highest mean value.

also report who scored highest marks in python using programming construct

In [5]:

def toCheckAvg(a,b,c,d):
  avg=(a+b+c+d)/4
  return avg

python_mean=toCheckAvg(25,26,29,28)

statistics_mean=toCheckAvg(23,21,19,25)

sql_mean=toCheckAvg(29,27,28,25)

if python_mean > statistics_mean and python_mean > sql_mean:
  print("python has highest mean value that is :",python_mean)
elif statistics_mean > python_mean and statistics_mean > sql_mean:
  print("statistics has highest mean value that is :",statistics_mean)
else:
  print("sql has highest mean value that is :",sql_mean)

name="Sam","Jacy","Tom","steve"
python=25,26,29,28

names_python_marks=dict(zip(name,python))
#print(names_python_marks)
max_marks=max(names_python_marks,key=names_python_marks.get)
print("The students who scored highest marks in python is -",max_marks)

sql has highest mean value that is : 27.25
The students who scored highest marks in python is - Tom

Q4==>You are working in medical store. A patient came to your medical store and asked to buy 2 strips od paracetamol,3strips of Azithromycin and 5 strips of vitamin C. one strip of paracetamol costs Rs. 35,one strip of Azithromycin costs RS. 49 and one strip of vitamin C costs RS. 33. Patient gave you Rs.2000. Please tell us what is total cost of each medicine,total cost of all medicine and how much money you refunded to patient

In [6]:
total_paracetamol=2*35
total_Azithromycin=3*49
total_VitaminC=5*33 
print("total cost of paracetamol is :",total_paracetamol)
print("total cost of Azithromycin is :",total_Azithromycin)
print("total cost ofVitamin C is :",total_VitaminC)

cost_of_all_medicine=total_paracetamol + total_Azithromycin + total_VitaminC
print("total cost of all medicine is :",cost_of_all_medicine)

money_given_by_patient=2000

refunded=money_given_by_patient - cost_of_all_medicine
print("The money refunded to patient is :",refunded)

total cost of paracetamol is : 70
total cost of Azithromycin is : 147
total cost ofVitamin C is : 165
total cost of all medicine is : 382
The money refunded to patient is : 1618

Q5==>Accept a sentence as input and find number of vowels in it.Assume sentence has no punctuation mark

In [7]:
def checkVowels(stg):
  count=0
  for i in stg:
    if i in "aeiouAEIOU":
      count+=1
  print(count)

checkVowels("I am learning Python")

6

Q6==>You have been appointed by the election commision to create a website.Your task is to find candidate is elligible or not for voting.if elligible your output should like "Congrats! You are elligible".Otherwise your output like "Return after X years"

In [8]:
age=int(input("Please enter your age"))

if age >= 18:
  print("Congrats! You are elligible")
elif age < 18:
  print("Return after",18-age,"years")

Please enter your age18
Congrats! You are elligible